body{
    margin-left:20px ;
}


.chat {
    background-color: rgba(203, 212, 223, 0.964);
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}
.msg {
    background-color: rgb(102, 158, 214);
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
}